@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

#connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid purple; */
    margin-bottom: 3%;
    font-family: 'Shadows Into Light', cursive;
    color: mediumturquoise;
    font-size: 20px;
}

#footer-links {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

#connect img{
    align-content: center;
    width: 60px;
    height: 50px;
    border-radius: 50%;
}

#connect > h1 > a:link {
    color: mediumturquoise;
}

#connect > h1 > a:hover {
    color:#708090;
}

